{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h2 class="jumbotron-heading mb-4">Start Tracking a Project</h2>
            {% if user.is_authenticated %}
                <a href="{% url 'project.new'%}" class="btn btn-primary btn-block">Create Now!</a>
            {% else %}
                <a href="{% url 'signup' %}" class="btn btn-primary my-3 btn-block">Signup</a>
                <a href="{% url 'login' %}" class="btn btn-primary my-3 btn-block">Login</a>
            {% endif %}
            
        </div>
    </section>

    <section class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">About the Site</h2>
            <p class="lead text-muted">Hi! I'm Hannah Weisser. 
                I recently took a business course related to Information Systems. 
                I decided to take the course project to new places!</p>
            <p class="lead text-muted">The Information Systems course highlighted the use of databases. 
                The course project was to store information in parallel arrays.
            I decided to take it upon myself to create a more authentic information system and user
            friendly interface to capitalize on my learning.</p>
            <img src="{% static 'images/hannah.jpg' %}" height="250" />
        </div>
    </section>
{% endblock %}