{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <h1>Thank you for visiting the Project Analyzer site.</h1>
</div>
<div class="container py-5">
    <a href="{% url 'login' %}" class="btn btn-primary my-3 btn-block">Log in again</a>
    <a href="{% url 'home' %}" class="btn btn-primary my-3 btn-block">Return to the Home Page</a>
</div>
    
{% endblock %}