{% extends "base.html" %}
{% block content %}
<div class="text-left mx-5 ">
    <form method='POST'>{% csrf_token %}
        {{ form.as_p }}
        <input class='btn btn-secondary' type='submit' name='Submit' />
    </form>
</div>
{% endblock %}