{% extends "base.html" %}

{% block content %}
    <div class="row row-cols-12">
        {% for item in project %}
            <div class="col-12 my-3 p-3 text-center border rounded">
                <h3>{{item.title}}</h3>
                <div>
                    <p>{{item.notes|truncatechars:500}}</p>
                    <div class="form-group">
                        <label>Project Return:</label>
                        <div class="textbox">{{ item.project_profit_percent|floatformat:2 }}%</div>
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <a href="{% url 'project.detail' pk=item.id %}" class="btn-lg btn-primary btn-block">Detail</a>
                        </div>
                        <div class="col-3">
                            <a href="{% url 'project.edit' pk=item.id %}" class="btn-lg btn-primary btn-block">Edit</a>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a href="{% url 'project.new'%}" class="btn btn-warning btn-block mt-5"><strong>Create a New Project</strong></a>
    </div>
{% endblock %}