{% extends "base.html" %}

{% block content %}
<h2>{{ project.title }}</h2>
<p>{{ project.notes }}</h1>
<section class="mt-5">
    <h4 class="text-center">Project Inputs</h4>
    <div class="row px-3">
        <div class="col py-3">
            <div class="form-group">
                <div>
                    <label>Labor Cost</label>
                </div>
                <div class="textbox border bg-light">${{ project.labor_cost|floatformat:2 }}</div>
            </div>
        </div>
        <div class="col py-3">
            <div class="form-group">
                <div>
                    <label>Material Cost</label>
                </div>
                <div class="textbox border bg-light">${{ project.material_cost|floatformat:2 }}</div>
            </div>
        </div>
        <div class="col py-3">
            <div class="form-group">
                <div>
                    <label>Overhead Cost</label>
                </div>
                <div class="textbox border bg-light">${{ project.overhead_cost|floatformat:2 }}</div>
            </div>
        </div>
        <div class="col py-3">
            <div class="form-group">
                <div>
                    <label>Revenue Increase</label>
                </div>
                <div class="textbox border bg-light">${{ project.project_benefit|floatformat:2 }}</div>
            </div>
        </div>
    </div>
</section>
<section class="bg-warning pt-4">
    <h4 class="text-center">Projections</h4>
    <div class="row px-3">
        <div class="col py-3">
            <div class="form-group">
                <div>
                    <label>Total Cost</label>
                </div>
                <div class="textbox border bg-light">${{ project.total_cost|floatformat:2 }}</div>
            </div>
        </div>       
        <div class="col py-3">
            <div class="form-group">
                <div>
                    <label>Project Profit</label>
                </div>
                <div class="textbox border bg-light">${{ project.project_profit|floatformat:2 }}</div>
            </div>
        </div>
        <div class="col py-3">
            <div class="form-group">
                <div>
                    <label>Project Return</label>
                </div>
                <div class="textbox border bg-light">{{ project.project_profit_percent|floatformat:2 }}%</div>
            </div>
        </div>
    </div>
</section>

<div class="row my-5">
    <div class="col-3"></div>
    <div class="col-2">
        <a href="{% url 'project' %}" class="btn btn-secondary btn-block">Back</a>
    </div>
    <div class="col-2">
        <a href="{% url 'project.edit' pk=project.id %}" class="btn btn-primary btn-block">Edit</a>
    </div>
    <div class="col-2">
        <a href="{% url 'project.delete' pk=project.id %}" class="btn btn-danger btn-block">Delete</a>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}