{% extends "base.html" %}

{% block content %}

<form method='post'>{% csrf_token %}
    <p>Are you sure you want to delete "{{project.title}}"?</p>
    <p>This action is final.</p>
    <div class="row my-5">
        <div class="col-3"></div>
        <div class="col-3">
            <input type="submit" class="btn btn-danger btn-block" value="Confirm" />
        </div>
        <div class="col-3">
            <a href="{% url 'project.detail' pk=project.id %}" class="btn btn-secondary btn-block">Back</a>
        </div>
        <div class="col-3"></div>
    
    
</form>
{% endblock %}