{% extends "base.html" %}

{% block content %}
<section class="bg-secondary py-4 px-3">
    <form method='POST'>{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary my-5">Submit</button>
    </form>
    {% if form.errors %}
    <div class="alert alert-danger my-5">
        {{form.errors.title.as_text}}
    </div>
    {% endif %}
    <a href="{% url 'project' %}" class="btn btn-danger">Cancel</a>
</section>

<style>
    input[type="text"] {
      margin-top:0 !important;
    }
    label {
        font-size: large;
        color: white;
    }
</style>
{% endblock %}