<!doctype html>
{% load static %}
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
    </head>

    <header>
        <title>Project Analyzer</title>
    </header>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class='ms-auto'>
                <a href="{% url 'home' %}" class="btn btn-outline-light me-1">Home</a>
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light me-1">Login</a>
                    <a href="{% url 'signup' %}" class="btn btn-outline-light me-1">Signup</a>
                {% else %}
                    <a href="{% url 'project.new' %}" class="btn btn-outline-light me-1">Create</a>
                    <a href="{% url 'project' %}" class="btn btn-outline-light me-1">View</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-light me-1">Logout</a>
                {% endif %}
            </div>
        </nav>
        <div class="container bg-light my-3 text-center border rounded-pill">
            <h1>Project Analyzer Tool</h1>
        </div>
        <div class="container my-5 text-center">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>